@import '../../../styles/variables';
@import '../../../styles/mixin';

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__mainTitle {
        font-size: 3rem;
        font-weight: lighter;
        margin: 10px 0;
        color: #af2f2f26;

        @include big-mobile {
            font-size: 4rem;
        }

        ;

        @include tablet {
            font-size: 5rem;
        }

        ;

        @include laptop {
            font-size: 6rem;
        }

        @include big-laptop {
            font-size: 7rem;
        }
    }
}