@import '../../atoms/formToDoRow/formToDoRow';
@import '../../molecules/formToDoCarts/formToDoCarts';
@import '../.../atoms/checkElement/checkElement';
.formToDo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}