@import '../../../styles/variables';

.formToDo {

    &__iconDiv{
        width: 50%;
    }

    &__footerButton {
        background-color: $color-2;
        width: 25%;
        height: 25%;
        padding: 0;
        border: 0;
        border-radius: 100%;
    }

    &__footerButton:nth-child(2),
    &__footerButton:nth-child(3),
    &__footerButton:nth-child(4) {
        margin-left: 5px;
    }

    
}