.formToDo{
    &__footerButton{
        background-color: #af2f2f26;
        width: 20px;
        height: 20px;
        padding: 0;
        border: 0;
        border-radius: 100%;
    }

    &__footerButton:nth-child(2):nth-child(3):nth-child(4){
        margin-left: 10px;
    }

}