@import '../../../styles/variables';

.formToDo {
    &__iconDiv {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 40%;
    }

    &__footerButton {
        background-color: $color-2;
        width: 30px;
        height: 30px;
        padding: 0;
        border: 0;
        border-radius: 100%;

        .footerIcon {
            width: 40%;
            height: 40%;
        }

        @include tablet {
            width: 40px;
            height: 40px;
        }

        @include laptop {
            width: 45px;
            height: 45px;
        }

    }

    &__footerButton:nth-child(2),
    &__footerButton:nth-child(3),
    &__footerButton:nth-child(4) {
        margin-left: 5px;
    }


}