//width
$mobile: 375px;
$big-mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$big-laptop: 1440px;
$four-k: 2560px;

//color 

$color-1: #eaeaea;
$color-2: #af2f2f26;
$color-3: #aeaeae1f;
$color-4: #ffffff2b;
$color-5: white;
$color-6: #e6e6e6;
$color-7: #ededed;
$color-8: black;
$color-9: #d32f2f;
$color-10: green;