$paddingInCartsElement: 20px;

.formToDo {
    &__CartsElement {
        width: calc(300px - $paddingInCartsElement);
        height: 100%;
        padding: $paddingInCartsElement;
        background-color: #aeaeae1f;
        display: flex;
        flex-direction: column;
    }
    
    &__CartsElement:nth-child(1n) {
        margin-top: 10px;
    }

    &__RowButtons{
        align-self: center;
        margin-top: 10px;
        width: 100px;
        .rowButton{
            padding: 2.5px;
            margin: 0 2.5px;
            font-size: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

}