$paddingInCartsElement: 20px;

.formToDo {
    &__CartsElement {
        width: calc(300px - $paddingInCartsElement);
        height: 100%;
        padding: $paddingInCartsElement;
        background-color: #aeaeae1f;
        display: flex;
        flex-direction: column;
    }

    &__CartsElement:nth-child(1n) {
        margin-top: 10px;
    }

    &__RowButtons {
        align-self: center;
        margin-top: 10px;

        .rowButton {
            padding: 2.5px;
            margin: 0 2.5px;
            font-size: 10px;
        }

        .buttonIcons {
            size: small;
            margin-right: 2px
        }
    }

    &__UpdateRow {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .updateInput {
            border: none;
        }

        .buttonUpdate {
            font-size: small;
            padding: 5px;
            color: white;
            border: 1px solid;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .cancelButton {
            border-color: red;
            background-color: red;
        }

        .checkButton {
            border-color: green;
            background-color: green;
        }
    }

}