@import "../../atoms/formToDoFooterButton/formToDoFooterButton";

.formToDo{
    &__footer{
        margin-top: 20px;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        align-items: center;
    }

        &__rightParagraf {
            display: flex;
            align-items: center;
            font-size: 11px;
        }


}