@import "../../atoms/formToDoFooterButton/formToDoFooterButton";
@import "../../../styles/variables";
.formToDo {
    &__footer {
        margin: 20px auto 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        align-items: center;
        background-color: $color-4;

        @include tablet {
            height: 3rem;
        }

        // @include laptop{
            
        // }

        // @include big-laptop{
        //     width: 93%;
        // }
    }

    &__rightParagraf {
        display: flex;
        align-items: center;
        font-size: 0.8rem;

        @include tablet{
            font-size: 1rem;
        }
    }


}