.formToDo{
    &__CheckList{
        width: 85%;
    }
    &__CheckElement{
        width: 87%;
        height: 20%;
        background-color: #aeaeae1f;
        padding: 10px 20px;
        margin-top: 10px;
    }
    &__ButtonCheckElement{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50px;
        height: 65px;
    }
}