.formToDo{
    &__CheckList{
        width: 85%;
        background-color: #aeaeae1f;
        display: flex;
        flex-direction: column;
    }
    &__CheckElement{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        height: 20%;
        background-color: #aeaeae1f;
        padding: 10px 20px;
        margin-top: 10px;
    }
}