.formToDo {
    &__Row {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__Input {
        width: 474px;

    }
}