.formToDo {
    &__Row {
        width: 80%;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__Input {
        width: 1OO% ;

    }
}