.formToDo {
    &__Row {
        width: 80%;
        height: 65px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 2px;
    }

    &__Input {
        width: 86%;
        height: 52%;
        border: none;
    }
}