@import './reset.scss';
@import '../components/atoms/mainTitle/mainTitle';
@import '../components/organisms/formToDo/formToDo';
@import '../components/organisms/footer/footer';
$bigMobile: 425px;
$tablet: 768px;
$laptop: 1024px;

@mixin bigMobile {
    @media only screen and (min-width: $big-mobile) {
        @content
    }
}

;

@mixin tablet {
    @media only screen and (min-width: $tablet) {
        @content
    }
}

;

@mixin laptop {
    @media only screen and (min-width: $laptop) {
        @content
    }
}

* {
    font-family: 'Quicksand', sans-serif;
}

.background {
    background-color: #eaeaea;
    width: 375px;

    @include bigMobile {
        width: $bigMobile;
    }
}

