@import './reset.scss';
@import '../components/atoms/mainTitle/mainTitle';
@import '../components/organisms/formToDo/formToDo';
@import '../components/organisms/footer/footer';

* {
    font-family: 'Quicksand', sans-serif;
}

.background {
    background-color: #eaeaea;
    width: 375px;

}